@model ColegioMVC3.Models.AlumnoGrado

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>¿Seguro que desea eliminar este elemento?</h3>
<div>
    <h4>Asignaciones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Alumno
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alumno.Nombres)
        </dd>

        <dt>
            Grado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grado.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seccion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
