@model ColegioMVC3.Models.AlumnoGrado

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Asignaciones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Alumno
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alumno.Nombres)
        </dd>

        <dt>
            Grado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grado.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seccion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AlumnoGradoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
